.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1920px;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}
.nav {
  grid-area: nav;
  background-color: rgb(39, 18, 161);
}
.header {
  grid-area: header;
  background-color: green;
}
.header__img {
  width: 60px;
}

.content {
  grid-area: content;
  background-color: rgb(158, 57, 79);
}
